.adder {
	margin-bottom: 1rem;
}

.adder header {
	font-family: 'Merriweather', 'serif';
	font-size: 1.3rem;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	letter-spacing: -0.04em;
	padding: 0.5rem;
}

.adder a {
	text-decoration: none;
	color: #000000;
}

.adder main {
	border-radius: 0.3rem;
	background-color: #f4f1ea;
	padding: 0.5rem;
}

.adder main.toadd {
	display: flex;
	line-height: 1.5em;
	justify-content: left;
	display: flex;
	align-items: center;
}

.adder .toadd:hover,
.adder .deck:has(a):hover {
	background-color: white;
}

.adder aside {
	font-size: 0.9rem;
}

.adder.alt header {
	font-size: 1.3rem;
	text-align: center;
	display: block;
}

.adder .adder.alt {
	text-align: center;
	justify-content: space-around;
}

.adder.alt img {
	margin: 1rem auto;
}

.adder.alt aside {
	text-align: center;
}

.deck {
	position: relative;
}

.adder .deck .book-summary {
	padding-bottom: 0
}

.adder .deck .book-summary header {
	padding: 0;
}

.adder .deck .book-summary hr {
	display: none;
}

.deck-container {
	padding-top: 0.125rem;
}

.deck::after,
.deck-container::after {
	content: ' ';
	display: block;
	clear: both;
	height: 0.2vw;
}

.deck-container .book-cover {
	display: block;
	float: left;
	padding: 0;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 40%);
	width: calc(100% / 3);
	aspect-ratio: 324/500;
	box-sizing: border-box;
	background: white;
	position: relative;
}

.deck-container .book-cover+.book-cover {
	margin-left: -20.1%;
}

.deck-container .book-cover img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	object-fit: cover;
}
