.adder {
	margin-bottom: 1rem;
	cursor: pointer;
}
.adder header {
	font-family: 'Merriweather', 'serif';
	font-size: 1.3rem;
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	letter-spacing: -0.04em;
	padding-bottom: 0.5rem;
}
.adder a {
	text-decoration: none;
	color: #6a0088;
}
.adder main {
	border-radius: 0.3rem;
	background-color: #f4f1ea;
	/* background-color: #409970; */
	padding: 0.5rem;
	display: flex;
	justify-content: left;
	align-items: center;
	line-height: 1.5em;
}
.adder:hover .toadd {
	background-color: white;
}
.adder aside {
	font-size: 0.9rem;
}
.adder.alt header {
	font-size: 1.3rem;
	text-align: center;
	display: block;
}
.adder .adder.alt {
	text-align: center;
	justify-content: space-around;
}
.adder.alt img {
	margin: 1rem auto;
}
.adder.alt aside {
	text-align: center;
}
.deck {
	position: relative;
	overflow: hidden;
	height: 14rem;
	position: relative;
	min-height: 14rem;
}
.deck-container {
	left: 0;
	top: 0;
	overflow-y: hidden;
	height: 14rem;
	width: 100rem;
	position: absolute;
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.deck-container .book-cover {
	display: inline-block;
	padding: 0.2rem;
	border-radius: 0.75rem;
	box-shadow: 0 0 0.2rem #666;
	width: 9rem;
	height: 13.5rem;
	box-sizing: border-box;
	background: white;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	position: relative;
}
.deck-container .book-cover + .book-cover {
	margin-left: -4.75rem;
}

.deck-container .book-cover div {
	margin: 1%;
	width: 98%;
	height: 98%;
	object-fit: cover;
}
.deck-container .book-cover img {
	/* display: block; */
	/* box-sizing: border-box; */
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	/* object-fit: cover; */
	/* border-radius: 0.5rem; */
}
