@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: var(--bg);
	color: var(--text-primary);
}

.section-badges,
.reviews .tropes {
	padding-right: 0.35rem;
}

section > .book-summary {
	margin-left: 0.35rem;
	margin-right: 0.35rem;
}

a {
	color: inherit;
}
.a-text:hover {
	text-decoration: underline;
}

.h1,
.h2,
.adder-header,
body,
input,
button,
textarea,
.resultsfound {
	font-family: Merriweather, serif;
}
.h1,
.h2,
.h3 {
	font-weight: bold;
}
.h1,
.h2 {
	margin-top: 1rem;
	padding: 0;
	letter-spacing: -0.04em;
}

.h1 {
	text-shadow: 2px 2px 0 var(--shadetextcolor);
	margin-bottom: 1.5rem;
	font-size: 1.6rem;
}

.h2 {
	margin-bottom: 0.5rem;
	text-shadow: 1px 1px 0 var(--shadetextcolor);
	font-size: 1.2rem;
}

pre {
	font-size: 0.7em;
	max-width: calc(100vw);
	padding: 1em;
	background: black;
	color: lightgray;
}

img {
	max-width: 100%;
}

#header {
	display: none;
	position: fixed;
	top: 0;
	background-color: var(--primary);
	width: 100vw;
}

.loggedin #header {
	display: block;
}

#main {
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#main,
#header {
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
}

.loggedin #main {
	padding-top: 4rem;
}

dl dd {
	font-weight: bold;
}

dt {
	font-style: italic;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

label .description {
	position: absolute;
	margin-top: -0.7em;
	margin-left: 0.5em;
	padding: 0.2em 0.5em;
	background-color: white;
	border-radius: 0.2rem;
	font-size: 0.8rem;
	color: var(--gray);
	transition: 0.18s font-weight ease-in-out, 0.18s background-color ease-in-out, 0.18s color ease-in-out,
		0.18s margin-left ease-in-out;
}

label:focus-within .description {
	color: var(--primary);
	font-weight: bold;
}
label .description em {
	opacity: 0.5;
	font-size: var(--smallfont);
}
label:focus-within .description em {
	opacity: 1;
}
