@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap');

:root {
	--lightgreen: #aff4c6;
	--lightred: #ffc7c2;
	--green: #0d8846;
	--red: #f24822;
}

body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: black;
	color: white;
}

body,
input,
button,
textarea {
	font-family: 'Merriweather', 'serif';
}

.light-mode body {
	color: black;
	background-color: lightgoldenrodyellow;
}

a {
	color: black;
}

a:hover {
	color: black;
	text-decoration: underline;
}

h1,
h2 {
	margin-top: 1rem;
	padding: 0;
	font-family: Merriweather, serif;
	letter-spacing: -0.04em;
}

h1 {
	text-shadow: 2px 2px 0 white;
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 0.5rem;
	text-shadow: 1px 1px 0 white;
}

pre {
	font-size: 0.7em;
	max-width: calc(100vw);
	padding: 1em;
	background: black;
	color: lightgray;
}

img {
	max-width: 100%;
}

#header {
	display: none;
	position: fixed;
	top: 0;
	background-color: #b73581;
	width: 100vw;
}

.loggedin #header {
	display: block;
	@media screen and (min-width: 600px) {
		margin-top: 0.4rem;
		border-radius: 0.4rem;
	}
}

#main {
	position: relative;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
}

#main,
#header {
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
}

.main-dashboard#main {
	max-width: calc(100% - 0.5rem);
	padding: 0.25rem 0.5rem;
	box-sizing: border-box;
}
.main-dashboard#main {
	max-width: 100%;
}
.loggedin #main {
	padding-top: 4rem;
}

dl dd {
	font-weight: bold;
}

dt {
	font-style: italic;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

label .description {
	position: absolute;
	margin-top: -0.7em;
	margin-left: 0.5em;
	padding: 0.2em 0.5em;
	background-color: white;
	border-radius: 0.2rem;
	font-size: 0.8rem;
	color: rgba(0, 0, 0, 50%);
	transition:
		0.18s font-weight ease-in-out,
		0.18s background-color ease-in-out,
		0.18s color ease-in-out,
		0.18s margin-left ease-in-out;
}

label:focus-within .description {
	color: hsl(325, 55%, 46%);
	font-weight: bold;
}

input[type='text'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='submit'],
textarea,
main button {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding: calc(0.75rem + 1px);
	border-width: 1px;
	border-style: solid;
	border-radius: 0.2rem;
}

input[type='text'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='email'],
textarea,
main button,
input[type='submit'] {
	margin-bottom: 0.75rem;
	border-color: hsl(325, 55%, 90%);
	transition:
		0.18s outline ease-in-out,
		0.18s border-color ease-in-out,
		0.18s box-shadow ease-in-out,
		0.18s border ease-in-out;
}
input[type='text']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='number']:focus,
input[type='email']:focus,
textarea:focus,
main button:hover,
main button:active,
main button:active:hover,
input[type='submit']:hover,
input[type='submit']:active,
input[type='submit']:active:hover {
	outline: 1px solid hsl(325, 55%, 46%);
	border-color: hsl(325, 55%, 46%);
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 40%);
}

a,
button,
input[type='submit'] {
	cursor: pointer;
	transition: background-color 0.18s linear;
}

main button,
input[type='submit'],
input[type='submit']:hover {
	background-color: hsl(325, 55%, 46%);
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
}

main form button:hover,
input[type='submit']:hover {
	background-color: hsl(325, 60%, 41%);
}

main button:active,
main button:focus,
input[type='submit']:active,
input[type='submit']:focus {
	background-color: hsl(325, 65%, 36%);
}

main button:disabled,
main button:disabled:hover,
main button:disabled:active,
main button:disabled:focus,
input[type='submit']:disabled,
input[type='submit']:disabled:hover {
	border-color: transparent;
	background-color: hsl(325, 25%, 76%);
}

a {
	color: #0d99ff;
}

hr {
	border-width: 0 0 1px;
	border-style: solid;
	border-color: hsl(325, 65%, 90%);
	height: 1px;
	background-color: transparent;
	height: 1px;
	box-shadow: 0 1px 0 hsl(325, 65%, 20%);
}
