.resultsfound {
	font-weight: normal;
	font-family: 'merriweather', 'serif';
	font-size: 1.3rem;
	margin: 1.5em 0;
}

.book-summary {
	list-style: none;
	padding: 0 0 1rem;
	margin: 0;
	transition: padding 0.18s linear, background-color 0.18s linear;
	display: flex;
	flex-wrap: wrap;
}
.main-dashboard .book-summary {
	padding-bottom: 0;
}
.book-summary hr {
	margin-top: 0.5rem;
}
.book-summary.quoted {
	display: flex;
	align-items: center;
}
.review_fav_quote {
	font-style: italic;
	text-align: center;
}
.quoteblock .review-text.review_fav_quote {
	padding-bottom: 0.75em;
}
.book-summary.quoted .review-text.review_fav_quote {
	padding-top: 0;
}
.book-summary .review-text {
	font-size: 0.9rem;
}
.book-summary .review-text.review_text {
	margin-bottom: 0.5rem;
}

.book-summary.quoted hr {
	display: none;
}
.book-summary .aside {
	margin-bottom: 0;
}
.book-summary .calendar-hidden {
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}
.book-summary .calendar-hidden + .btn-text {
	margin-top: -1rem;
}

.search .book-summary.saved hr {
	display: none;
}
.book-summary h2 {
	font-family: 'Merriweather', 'serif';
	margin-top: 0;
	font-size: 1.3em;
}
.book-summary .icon-heart + h2 {
	padding-right: 1.25rem;
}
.book-summary h2 sub {
	font-size: 0.8em;
	font-weight: normal;
	display: block;
}

.book-summary h2 sup {
	vertical-align: baseline;
}

.book-summary aside {
	width: 9rem;
	height: auto;
	margin: 0 0.75rem 0.75rem 0;
	min-width: 9rem;
}

.book-summary .article-main .icon-heart {
	position: absolute;
	top: 0;
	right: 1px;
	color: red;
	margin-top: 0.375em;
}

.deck .book-summary .article-main {
	max-width: calc(100vw - 10.5rem);
}

.book-summary .article-main button.modify {
	margin-left: 0.5em;
}
.book-summary .aside,
.book-summary .article-main {
	flex: 1 1 30%;
	@media screen and (max-width: 399.98px) {
		flex: 1 1 30%;
	}
}

.book-summary .aside {
	width: 7rem;
	min-width: 7rem;
	max-width: 8rem;
	@media screen and (max-width: 399.98px) {
		width: 100%;
		min-width: 0;
		max-width: 6rem; /* same width as review stars */
	}
}

.book-summary footer {
	width: 100%;
}

.book-summary .cover {
	height: auto;
	max-width: 100%;
	border-radius: 0.5rem;
	display: block;
}

.book-summary .synopsis {
	align-self: flex-end;
}

.book-summary .synopsis p {
	margin-top: 0;
	font-size: 0.8em;
}

.book-summary .synopsis h3 {
	margin: 0 0 1em;
	padding: 0;
}

.book-summary button {
	width: auto;
	display: inline-block;
}

.book-summary h3 {
	margin-bottom: 0.25rem;
	font-size: 1rem;
	text-decoration: underline;
}

.book-summary .status em {
	font-size: 0.9rem;
	font-weight: bold;
}
.book-summary .status a {
	color: inherit;
}
.book-summary .status a:hover,
.book-summary .status a:focus,
.book-summary .status a:active {
	color: #b73581;
}
.book-summary .mark {
	font-size: 0.9rem;
	line-height: 1.3;
}

@media screen and (max-width: 379.98px) {
	.book-summary .mark {
		line-height: 1em;
	}
}
#booksoverview-filter-sort {
	padding-bottom: 1rem;
}
.single-small-form {
	margin: 0.25rem 0;
	display: flex;
	justify-content: space-between;
}
.single-small-form input {
	padding: 0.3rem 1.8rem 0.3rem 0.3rem;
	border-style: dashed;
	border-width: 2px;
	border-radius: 0.4rem;
	margin-bottom: 0;
}
.single-small-form input:focus,
.single-small-form input:active {
	border-style: solid;
}
.single-small-form + .btn-text {
	margin-top: -0.2em;
	display: block;
	font-size: 0.8rem;
	padding-left: calc(2px + 0.3rem);
	padding-right: calc(2px + 0.3rem);
}
#booksoverview-filter-sort .single-small-form + .btn-text {
	margin-top: 0.2rem;
}
.tropes {
	padding: 0;
	list-style-type: none;
}
.book-summary .tropes {
	margin-top: 0;
}
.tropes li {
	display: inline-block;
	margin: 0 0.35rem 0.35rem 0;
	padding: 0.2rem 0.4rem;
}

.tropes li.trope_add,
.tropes li.trope_more {
	padding: 0;
}

.book-summary .review-rates {
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}
.review-rates > div {
	width: 6rem;
	display: flex;
	margin: 0 auto;
	padding-right: 0.1rem;
	margin-top: 0.5rem;
}
.book-summary .rating {
	text-align: center;
	margin-bottom: 1rem;
}

.book-summary .rating h3 {
	margin-top: 0.5rem;
}
.book-summary .tropes h3 {
	padding-bottom: 0;
}

.book-summary .marks .favorites.active {
	color: red;
}

.book-summary .marked {
	color: hsl(325, 55%, 46%);
	font-weight: bold;
}
.book-summary .tropes,
.book-summary .marks,
.book-summary .book-started-finished,
.book-summary .article-main .review-text {
	padding-top: 0.5rem;
}
.book-summary .article-main {
	position: relative;
	margin-bottom: 0.75rem;
	width: 100%;
}
.book-summary.quoted .article-main {
	margin-top: 0.75rem;
}
.book-summary .review-text {
	margin-bottom: 0.25rem;
}
.book-summary .book-started-finished {
	font-size: 0.9rem;
}
.book-summary .quote:has(main) {
	border: 2px dashed rgba(0, 0, 0, 0.1);
	text-align: center;
}
.book-summary .review-text.review_fav_quote {
	margin: 0;
}
