main button.alt,
.card footer button.alt {
	background: white;
	color: #333;
	border-color: transparent;
}

.adder button.btn-icon {
	background-color: white;
	background-size: cover;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin-right: 1rem;
	overflow: hidden;
	border-color: white;
}

.adder button img {
	box-sizing: border-box;
	height: 100%;
	padding: 0.25rem;
	width: auto;
}

.badge {
	font-size: 0.9em;
	padding: 0.2rem;
	border-radius: 0.5rem;
	border-color: transparent;
	font-weight: normal;
	min-width: 4rem;
	background-color: #f1e0c6;
	color: #e1901e;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}

.btn-text,
.btn-text:active,
.btn-text:focus,
.btn-icon,
.btn-icon:active,
.btn-icon:focus {
	background: none;
	color: #0d99ff;
}

.btn-text,
.btn-icon {
	display: inline-block;
	border: 0;
	cursor: pointer;
	font-size: 1rem;
	font-weight: normal;
	height: 1.3rem;
	line-height: 1.3rem;
	padding: 0;
	text-align: left;
	text-decoration: none;
	transition: text-decoration 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-text:hover {
	text-decoration: underline;
	color: #000;
}

.btn-text.caret-toggle::before {
	content: ' ';
	display: inline-block;
	width: 1em;
	background-image: url('/img/cv-caret-medium.light.svg');
	background-size: 1.5em;
	height: 1em;
	background-position-y: 30%;
	background-position-x: center;
	transform: scaleY(-1);
	margin-right: 0.35em;
}

.synopsisWrapper[aria-expanded='true'] .caret-toggle::before,
.caret-toggle.active::before {
	background-position-y: top;
	transform: scaleY(1);
}

.synopsisWrapper .synopsis {
	height: 0;
	overflow: hidden;
}

.synopsisWrapper[aria-expanded='true'] .synopsis {
	height: unset;
	overflow: auto;
}
.btn-text,
.btn-icon {
	margin-bottom: 0;
}
.btn-calendar {
	font-style: inherit;
}

.btn-calendar::after {
	display: inline-block;
	height: 1em;
	width: 1em;
	line-height: 1em;
	padding: 0;
	margin: 0;
	content: ' ';
	background-color: transparent;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 100%;
	max-width: 1em;
	background-image: url('/img/calendar-icon.svg');
	max-height: 1em;
	opacity: 0;
	transition: opacity 0.18s ease-in-out;
}

.btn-calendar:focus::after,
.btn-calendar:hover::after {
	opacity: 1;
}

.btn-submit-inside-caret-right {
	float: left;
	content: ' ';
	width: 1rem;
	background-image: url('/img/cv-caret-medium.light.svg');
	background-size: 1.4rem;
	background-position-y: 10%;
	background-position-x: center;
	margin-top: 0.4rem;
	transform: rotate(90deg);
	background-color: pink;
	border: 1px solid pink;
	border-radius: 100%;
	padding: 0.5rem;
	margin-left: -1.5rem;
}
.btn-submit-inside-caret-right:hover,
.btn-submit-inside-caret-right:focus,
.btn-submit-inside-caret-right:active {
	background-color: white;
}
