main button.alt {
	background: white;
	color: #333;
	border-color: transparent;
}
.adder button {
	background-color: white;
	background-size: cover;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin-right: 1rem;
	overflow: hidden;
	border-color: white;
}
.adder button img {
	box-sizing: border-box;
	height: 100%;
	padding: 0.25rem;
	width: auto;
	/* transform: translateY(50%), translateX(50%); */
}
.badge {
	font-size: 0.9em;
	padding: 0.2rem;
	border-radius: 0.5rem;
	border-color: transparent;
	font-weight: normal;
	min-width: 4rem;
	background-color: #f1e0c6;
	color: #e1901e;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}
