main button.alt,
.card footer button.alt {
	background: white;
	color: #333;
	border-color: transparent;
}

.adder button.btn-icon {
	background-color: white;
	background-size: cover;
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin-right: 1rem;
	overflow: hidden;
	border-color: white;
}

.adder button img {
	box-sizing: border-box;
	height: 100%;
	padding: 0.25rem;
	width: auto;
}

.badge {
	font-size: 0.9em;
	padding: 0.2rem;
	border-radius: 0.5rem;
	border-color: transparent;
	font-weight: normal;
	min-width: 4rem;
	background-color: #f1e0c6;
	color: #e1901e;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
}

.btn-text,
.btn-text:active,
.btn-text:focus {
	background: none;
	color: #0d99ff;
}

.btn-text {
	display: inline-block;
	border: 0;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: normal;
	height: 1em;
	padding: 0;
	text-align: left;
	text-decoration: none;
	transition:
		text-decoration 0.2s ease-in-out,
		color 0.2s ease-in-out;
}

.btn-text:hover {
	text-decoration: underline;
	color: #000;
}

.btn-text.caret-toggle:after {
	content: ' ';
	display: inline-block;
	width: 1em;
	background-image: url('/img/cv-caret-medium.light.svg');
	background-size: 1.5em;
	height: 1em;
	background-position-y: 30%;
	transform: scaleY(-1);
}

.btn-text.caret-toggle.active:hover::after {
	background-position: left top;
	transform: scaleY(1);
}
