#welcome {
	margin-bottom: 1rem;
	line-height: 2rem;
	font-size: 2rem;
	width: calc(100vw - 2rem);
	text-align: center;
}

#welcome-logo-img {
	width: auto;
	height: 0.8em;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.icon-forgot-password {
	height: 4rem;
	width: 4rem;
	background: transparent;
	margin: 0 auto;
	box-sizing: border-box;
}

.icon-forgot-password div {
	box-sizing: border-box;
	border-style: solid;
	border-color: black;
}

.head {
	border-width: 0.35rem;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.card .recover-icon {
	display: block;
	width: auto;
	float: right;
}
