.m0 {
	margin: 0;
}
.mb0 {
	margin-bottom: 0;
}
.mr1 {
	margin-right: 1rem;
}
.mt0 {
	margin-top: 0;
}
.mt075 {
	margin-top: 0.75rem;
}
.mt1 {
	margin-top: 1rem;
}

.p0 {
	padding: 0;
}
.pt0 {
	padding-top: 0;
}
.pb0 {
	padding-bottom: 0;
}
.pb1 {
	padding-bottom: 1rem;
}
.red {
	color: red;
}
.wauto {
	width: auto;
}
.wauto-md {
	@media screen and (min-width: 480px) {
		width: auto;
		display: inline-block;
	}
}

.nowrap {
	white-space: nowrap;
}

form .error {
	margin-bottom: 0.5em;
	color: red;
}

.cl {
	clear: both;
}

.clr::after {
	content: '';
	display: block;
	clear: both;
}

.sf {
	font-size: 0.8em;
}

label .sf {
	float: right;
	padding-left: 1em;
}

.ta-right {
	text-align: right;
}

sub,
sup {
	font-weight: normal;
	letter-spacing: -0.025em;
	opacity: 0.5;
}

sub {
	font-size: 0.7em;
	display: block;
}

sup {
	font-size: 0.7em;
}
.flnone,
input.flnone {
	float: none;
}
.d-inline {
	display: inline;
}
.dblock {
	display: block;
}
.dnone {
	display: none;
}
.diblock-md {
	@media screen and (min-width: 480px) {
		display: inline-block;
	}
}
.diblock {
	display: inline-block;
}
.italic {
	font-style: italic;
}
