.m0 {
	margin: 0;
}
.mt0 {
	margin-top: 0;
}
.mt05 {
	margin-top: 0.5rem;
}
.mt075 {
	margin-top: 0.75rem;
}
.mt1 {
	margin-top: 1rem;
}
.mb0 {
	margin-bottom: 0;
}
.mr1 {
	margin-right: 1rem;
}
.ml05 {
	margin-left: 0.5rem;
}
.p0 {
	padding: 0;
}
.pt0 {
	padding-top: 0;
}
.pb0 {
	padding-bottom: 0;
}
.pb1 {
	padding-bottom: 1rem;
}
.red {
	color: red;
}
.wauto {
	width: auto;
}
.wauto-md {
	@media screen and (min-width: 480px) {
		width: auto;
		display: inline-block;
	}
}

.nowrap {
	white-space: nowrap;
}

form .error {
	margin-bottom: 0.5em;
	color: red;
}

.cl {
	clear: both;
}

.clr::after {
	content: '';
	display: block;
	clear: both;
}

.sf {
	font-size: 0.8em;
}

.ta-right {
	text-align: right;
}

sub,
sup {
	font-weight: normal;
	letter-spacing: -0.025em;
	opacity: 0.5;
}

sub {
	font-size: 0.7em;
	display: block;
}

sup {
	font-size: 0.7em;
}
.d-inline {
	display: inline;
}
.dblock {
	display: block;
}
.dflex {
	display: flex;
}
.dnone,
input[type='submit'].dnone {
	display: none;
}
.diblock-md {
	@media screen and (min-width: 480px) {
		display: inline-block;
	}
}
.diblock {
	display: inline-block;
}
.italic {
	font-style: italic;
}
.wm6 {
	max-width: 6rem;
}
.fl {
	float: left;
}
.tcenter {
	text-align: center;
}
