.m0 {
	margin: 0;
}

.mr1 {
	margin-right: 1rem;
}

.p0 {
	padding: 0;
}

.red {
	color: red;
}

.wauto {
	width: auto;
	display: inline-block;
}

form .error {
	margin-bottom: .5em;
	color: red;
}

.cl {
	clear: both;
}

.clr::after {
	content: "";
	display: block;
	clear: both;
}

.sf {
	font-size: .8em
}

label .sf {
	float: right;
}
.ta-right {
	text-align: right;
}
.sub {
	font-weight: normal;
	font-size: 0.7em;
	letter-spacing: -0.025em;
	opacity: 0.5;
}
