@import './navToggleBurger.css';

.nav-collapsable {
	@media screen and (max-width: 600px) {
		left: 1rem;
	}
}
.nav-collapsable {
	top: 0;
	width: calc(100vw - 0.5rem);
	background-color: #b73581;
	transition: opacity 0.18s ease-in-out;
	height: 2rem;
	line-height: 2rem;
	padding: 1rem 0.5rem;
	opacity: 0;
}
.nav-collapsable.expanded {
	opacity: 1;
}

.nav-collapsable .history {
	display: none;
	/* hide for now */
}

.nav-collapsable.expanded {
	width: 100%;
	height: 100vh;
	z-index: 90;
}
#navIcons button.expanded {
	background-color: rgba(255, 255, 255, 0.2);
}
.nav-collapsable {
	box-sizing: border-box;
}

.nav-collapsable ul,
.nav-collapsable li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.nav-collapsable ul {
	z-index: 1;
	margin-top: 2rem;
}

.nav-collapsable a {
	color: hsla(28, 100%, 93%, 0.97);
	padding: 0.1em 0.2em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	transition: outline-color 0.18s ease-in-out, padding 0.18s ease-in-out, margin 0.18s ease-in-out;
	display: inline-block;
	outline: 1px dashed rgba(255, 255, 255, 0);
	border-radius: 0.3rem;
	margin-bottom: 0.2rem;
}
.nav-collapsable a:hover,
.nav-collapsable a.active {
	outline-color: rgba(255, 255, 255, 0.5);
	padding-left: 0.7em;
	padding-right: 0.7em;
	margin-left: 0.3rem;
}
.nav-collapsable a.active {
	outline-color: rgb(255, 255, 255);
}

#navIcons {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	line-height: 2rem;
	margin: 0 auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	z-index: 99;
}

#navIcons button {
	border: 0;
	outline: 0;
	background: transparent;
	outline: 1px dashed rgba(255, 255, 255, 0);
	transition: outline 0.18s ease-in-out;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	margin: 0.25rem;
	position: relative;
	overflow: hidden;
}

#nav-icon-loep-stroke {
	fill: none;
	stroke: #ffffff;
	stroke-width: 17.2237;
}
#navIcons button:hover {
	outline-color: rgba(255, 255, 255, 0.5);
}
#navIcons button.expanded {
	outline-color: rgb(255, 255, 255);
}
#navIcons div button {
	margin-left: 0;
}

.nav-collapsable.collapsed {
	height: 0;
	max-height: 0;
	overflow: hidden;
	padding: 0;
}

#nav0 {
	text-align: left;
}
#nav0 > ul + ul {
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 1px dashed rgba(255, 255, 255, 0.5);
}
#nav-icon-loep,
#nav-icon-profile {
	margin: 0 auto;
	width: 1rem;
	height: 1rem;
	position: relative;
}

#nav-icon-profile-path,
#nav-icon-loep-path {
	fill: white;
}

#navIcons .alt {
	position: absolute;
	text-indent: 30em;
	@media screen and (max-width: 479.98px) {
		display: none;
	}
}
