.zoekIcon,
.profileIcon {
	margin: 0 auto;
}
.zoekIcon {
	position: relative;
	height: 1rem;
	width: 1rem;
}
.glass {
	background: white;
	border-width: 0.15rem;
	border-style: solid;
	border-color: rgba(0, 0, 0, 80%);
	width: 65%;
	height: 65%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-radius: 50%;
	z-index: 3;
}
.glassOuter {
	background: white;
	width: 70%;
	height: 70%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	z-index: 2;
}
.stick {
	background-color: rgba(0, 0, 0, 80%);
	width: 60%;
	height: 10%;
	transform: rotate(45deg);
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 20%;
	border-radius: 50%;
}
.profileIcon {
	position: relative;
	height: 1rem;
	width: 1rem;
}
.profileIcon-head {
	background-color: rgba(0, 0, 0, 80%);
	width: 35%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 60% 60% 70% 70%;
	z-index: 2;
}
.zoekIcon:hover .stick,
.profileIcon:hover .profileIcon-head,
.profileIcon:hover .profileIcon-body {
	background: black;
}
.zoekIcon:hover .glass {
	border-color: black;
}
.profileIcon-body {
	background-color: rgba(0, 0, 0, 80%);
	width: 60%;
	height: 50%;
	position: absolute;
	margin-left: 0;
	bottom: 0;
	margin-left: 23%;
	border-radius: 50% 50% 0 0;
	border-bottom: 1px solid white;
}
