#toggleNavBurger {
	height: 2rem;
	width: 2rem;
	background: transparent;
	font-weight: 900;
	font-size: 2rem;
	color: black;
	z-index: 3;
	position: relative;
	outline: none;
}

.burger {
	position: relative;
}
.burgerbar {
	box-sizing: border-box;
	background: rgba(0, 0, 0, 80%);
	width: 100%;
	margin-top: 3px;
	height: 3px;
	margin-bottom: 3px;
	border-radius: 3px;
}
.burger:hover .burgerbar,
.expanded .burgerbar {
	background: #000000;
}
.bar1,
.bar3 {
	transition: 0.15s width linear;
}
.bar2,
.bar2duplo {
	transition:
		width 0.15s linear,
		transform 0.15s linear;
}
.bar2duplo {
	margin-top: -6px;
}

.expanded .bar1,
.expanded .bar3 {
	width: 0;
}
.expanded .bar2 {
	transform: rotate(45deg);
}
.expanded .bar2duplo {
	transform: rotate(-45deg);
}
