#popupNotification {
	/* background-color: rgba(255, 255, 250, 0.9); for dark theme later*/
	/* color: #0f0f0f;  for dark theme later*/
    border-radius: .5rem;
    color: #fff;
    background: #14141ef2;
    box-shadow: 0 0 1rem #00000080;
    display: block;
    padding: .5rem 0;
    height: auto;
    width: 80vw;
    left: calc(10vw - .5rem);
    position: fixed;
    bottom: 4rem;
    transition: bottom .1s linear;
    text-align: center;
    font-size: .9rem;
}

#popupNotification.hide {
	bottom: -3rem;
}
