.quote {
	font-style: italic;
	text-align: center;
	font-size: 1.4rem;
	margin: 0.5rem auto;
	width: 100%;
	box-sizing: border-box;
}
.dashboard-quote {
	font-size: 0.9rem;
	margin: -1rem -0.5rem 1.5rem;
	width: calc(100% + 1rem);
	background-color: var(--accentbg);
	padding: 1rem;
}
.quote footer {
	margin-top: 0.7em;
	font-weight: 600;
	font-size: 0.9em;
}
