.quote {
	font-style: italic;
	text-align: center;
	font-size: 1.4rem;
	margin: 0.5rem auto;
	width: 100%;
	box-sizing: border-box;
}
.main-dashboard .quote {
	font-size: .9rem;
	margin: -1rem 0 1.5rem;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 1rem;
}
.main-dashboard#main.main-dashboard {
	padding-left: 0;
	padding-right: 0;
}
.quote footer {
	margin-top: 0.7em;
	font-weight: 600;
	font-size: 0.7em;
}
