@media screen and (max-width: 600px) and (min-width: 320px) {
	#root {
		margin:0 auto;
		max-width: calc(100vw - 1rem);
	}
	#header,
	#navIcons {
		margin:0 auto;
		width: 100%;
	}
}
@media screen and (min-width: 601px) {
	#navIcons {
		width: calc(100% - 1rem);
	}
}
@media screen and (max-width: 320px) {
	#root {
		min-width: auto;
	}
	#navIcons {
		justify-content: start !important;
		max-width: 100%;
		min-width: 0;
	}
	#nav1 {
		text-align: left !important;
	}
	.nav-collapsable.expanded {
		width: 100%;
	}
}
