@media screen and (min-height: 600px) {
	#header {
		padding-left: 0;
		padding-right: 0;
	}
	#nav1 {
		padding-right: 0.75rem;
	}
	#navIcons {
		width: calc(100vw - 1rem);
	}
	.nav-collapsable a {
		padding-right: 0;
	}
	.deck .book-summary .article-main {
		width: auto;
	}
	.book-summary .article-main {
		max-width: calc(100% - 7.75rem);
	}
}

@media screen and (max-width: 600px) and (min-width: 360px) {
	#navIcons {
		padding-left: 0;
	}
	#nav1 {
		padding-right: 1.5rem;
	}
	.nav-collapsable a {
		padding: 0.1em 0 0.1em 0.2em;
	}
}

@media screen and (max-width: 359.98px) {
	#root {
		min-width: auto;
	}
	#navIcons {
		min-width: 0;
		width: 100%;
	}
	.nav-collapsable {
		padding-left: 0.25rem;
	}
	.nav-collapsable.expanded {
		width: 100%;
	}
}
