@media screen and (max-width:600px) {
	#header {
		background-color: #b73581;
		padding-left: 1rem;
		padding-right: 3rem;
		left: -.5rem;
		min-width: calc(100% + .5rem);
	}

	.nav-collapsable {
		left: 0;
	}
}

@media screen and (max-width: 600px) and (min-width: 320px) {
	#root {
		margin: 0 auto;
		max-width: calc(100vw - 1rem);
	}
}

@media screen and (min-width: 601px) {
	#navIcons {
		width: calc(100% - 1rem);
	}
}

@media screen and (max-width: 320px) {
	#root {
		min-width: auto;
	}

	#header {
		padding-left: .5rem
	}

	#navIcons {
		width: auto;
		min-width: 0;
	}

	#nav1 {
		text-align: left !important;
	}

	.nav-collapsable {
		padding-left: .25rem
	}

	.nav-collapsable.expanded {
		width: 100%;
	}
}
