/* OPTIMIZE maybe apply as js style or styled component */
.collapse-item {
    animation: collapse .19s linear forwards; /* see GLOBALS.bookRemoveAnimationDuration */
    overflow: hidden;
    box-sizing: border-box;
}

@keyframes collapse {
    0% {
        max-height: 500px; /* Adjust to your content's max height */
    }
    99% {
        max-height: 0;
    }
    100% {
        max-height: 0;
    }
}
