.resultsfound {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 1.5em 0;
}

#overview-wrapper > .book-summary:first-of-type > .seperator {
    border-width: 0;
}

/* start .book-summary */
.book-summary {
    list-style: none;
    transition: padding 0.18s linear, background-color 0.18s linear;
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    &.edit-mode {
        background-color: var(--bg-invert1);
        border: 2px dashed var(--bg);
        .seperator {
            background-color: transparent;
            border-color: transparent;
        }
        .aside {
            padding-left: .5rem;
        }
        .article-main {
            padding-right: .5rem;
        }
    }
    &.tropes {
        margin: 0;
        padding-bottom: 0.5rem;
    }

    .aside {
        width: 7rem;
        min-width: 7rem;
        max-width: 8rem;
        @media screen and (max-width: 399.98px) {
            width: 100%;
            min-width: 0;
            max-width: 6rem; /* same width as review stars */
        }
    }

    .cover {
        height: auto;
        max-width: 100%;
        border-radius: 0.5rem;
        display: block;
        cursor: zoom-in;
    }


    .seperator {
        width: 100%;
        border-top: 1px solid var(--cardbg);
        min-height: 1rem;
    }
    .h3 {
        margin-bottom: 0.25rem;
        font-size: 1rem;
        text-decoration: underline;
    }
    .status {
        em {
            font-size: 0.9rem;
            font-weight: bold;
        }
        a {
            color: inherit;
        }
        a:hover,
        a:focus,
        a:active {
            color: #b73581;
        }
    }
    .article-main button.modify {
        margin-left: 0.5em;
    }

    .aside,
    .article-main {
        flex: 1 1 30%;
        @media screen and (max-width: 399.98px) {
            flex: 1 1 30%;
        }
    }
    .aside {
        margin-bottom: 0;
    }

    .mark {
        font-size: 0.9rem;
        line-height: 1.3;
    }

    .review-rates {
        margin: 0.5rem 0;
        & > div {
            width: auto;
            display: flex;
            margin: .5rem 0;
            padding: 0;
            justify-content: space-evenly;
        }
    }
    &.view-mode .review-rates button {
        cursor: default;
    }
    .rating {
        text-align: center;
        margin-bottom: 1rem;
    }
    .synopsis {
        align-self: flex-end;
        p {
            margin-top: 0;
            font-size: var(--smallerfont);
        }
        .h3 {
            margin: 0 0 1em;
            padding: 0;
        }
    }
    footer {
        margin-bottom: 1rem;
    }
    .review-text {
        font-size: 0.9rem;
    }
    &.quoted {
        .article-main {
            margin-top: 0.75rem;
        }
        display: flex;
        align-items: center;
        .review-text.review_fav_quote {
            padding-top: 0;
            font-size: 1.1rem;
        }
    }
    .calendar-hidden {
        overflow: hidden;
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        + .btn-text {
            margin-top: -1rem;
        }
    }
    .h2 {
        margin-top: 0;
        margin-bottom: 0;
        sup {
            vertical-align: baseline;
        }
    }
    .icon-heart + .h2 {
        padding-right: 1.25rem;
    }
    aside {
        width: 9rem;
        height: auto;
        margin: 0 0.75rem 0.75rem 0;
        min-width: 9rem;
    }
    footer {
        width: 100%;
    }
    button {
        width: auto;
    }
    .rating .h3 {
        margin-top: 0.5rem;
    }
    .tropes .h3 {
        padding-bottom: 0;
    }

    .marks .favourites.active {
        color: red;
    }

    .marked {
        color: var(--primary);
        font-weight: bold;
    }
    .article-main .review-text,
    .book-started-finished {
        padding-top: 0.5rem;
    }
    .article-main {
        position: relative;
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .book-started-finished {
        font-size: 0.9rem;
    }
    .quote:has(main) {
        border: 2px dashed rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .review-text.review_fav_quote {
        display: flex;
        flex-direction: column;
        margin: 0;
        &.on-dashboard {
            text-align: left;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
/* end .book-summary */

.main-dashboard .book-summary {
    padding-bottom: 0;
}
.review_fav_quote,
.review_fav_quote2 {
    font-style: italic;
    text-align: center;
}
.quoteblock .review-text.review_fav_quote {
    padding-bottom: 0.75em;
}
.deck .book-summary .article-main {
    max-width: calc(100vw - 10.5rem);
}

@media screen and (max-width: 379.98px) {
    .book-summary .mark {
        line-height: 1em;
    }
}
#booksoverview-filter-sort {
    padding-bottom: 1rem;
}

.single-small-form {
    margin: 0.25rem 0;
    display: flex;
    justify-content: space-between;
    input[type="text"] {
        padding: 0.3rem 1.8rem 0.3rem 0.3rem;
        border-style: dashed;
        border-width: 2px;
        border-radius: 0.4rem;
        margin-bottom: 0;
        width: 100%;
    }
    input[type="number"] {
        padding: 0.3rem 1.8rem 0.3rem 0.3rem;
        border-style: dashed;
        border-width: 2px;
        border-radius: 0.4rem;
        margin-bottom: 0;
        width: 100%;
    }
    input[type="text"]:focus,
    input[type="text"]:active {
        border-style: solid;
    }
}

.single-small-form + .btn-text,
.btn-text-cancel {
    margin-top: -0.2em;
    display: block;
    width: auto;
    font-size: var(--smallerfontrem);
    padding-left: calc(2px + 0.3rem);
    padding-right: calc(2px + 0.3rem);
    align-self: flex-start;
}
#booksoverview-filter-sort .single-small-form + .btn-text {
    margin-top: 0.2rem;
}

.tropes {
    padding: 0;
    margin-bottom: 0;
}
