.bold {
    font-weight: bold;
}
.bu {
    font-weight: bold;
    text-decoration: underline;
}
.bi {
    font-weight: bold;
    font-style: italic;
}
.m0 {
    margin: 0;
}
.m1 {
    margin: 1rem;
}
.mt-1 {
    margin-top: -1rem;
}
.mt0 {
    margin-top: 0;
}
.mt0i {
    /* biome-ignore lint/complexity/noImportantStyles: <intended use with suffix `i` in `mt0i`> */
    margin-top: 0 !important;
}
.mt-05 {
    margin-top: -0.5rem;
}
.mt-075 {
    margin-top: -0.75rem;
}
.mt05 {
    margin-top: 0.5rem;
}
.mt075 {
    margin-top: 0.75rem;
}
.mt1 {
    margin-top: 1rem;
}
.mb0 {
    margin-bottom: 0;
}
.mb0i {
    /* biome-ignore lint/complexity/noImportantStyles: <intended use with suffix `i` in `mt0i`> */
    margin-bottom: 0 !important;
}
.mb1 {
    margin-bottom: 1rem;
}
.mr1 {
    margin-right: 1rem;
}
.ml0 {
    margin-left: 0;
}
.mb035 {
    margin-bottom: 0.35rem;
}
.ml035 {
    margin-left: 0.35rem;
}
.mr03 {
    margin-right: 0.35rem;
}
.mt035 {
    margin-top: 0.35rem;
}
.ml-035 {
    margin-left: -0.35rem;
}
.ml05 {
    margin-left: 0.5rem;
}
.mxauto {
    margin-left: auto;
    margin-right: auto;
}
.p0 {
    padding: 0;
}
.p1 {
    padding: 1rem;
}

.pt0 {
    padding-top: 0;
}
.pt05 {
    padding-top: 0.5rem;
}
.pt2 {
    padding-top: 2rem;
}
.pb0 {
    padding-bottom: 0;
}
.pb05 {
    padding-bottom: 0.5rem;
}

.pb1 {
    padding-bottom: 1rem;
}
.pb035 {
    padding-bottom: 0.35rem;
}
.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.red {
    color: red;
}
.wauto {
    width: auto;
}
.wauto-md {
    @media screen and (min-width: 480px) {
        width: auto;
        display: inline-block;
    }
}

.nowrap {
    white-space: nowrap;
}

form .error {
    color: red;
}
form .notification {
    font-size: 0.9em;
    min-height: 0.9em;
    padding-bottom: 1em;
    font-style: italic;
}

.cl {
    clear: both;
}

.clr::after {
    content: "";
    display: block;
    clear: both;
}

.sf {
    font-size: var(--smallfont);
}
.sf2 {
    font-size: var(--smallerfont);
}
.sfr {
    font-size: var(--smallfontrem);
}
.sfr2 {
    font-size: var(--smallerfontrem);
}
.fs-inherit {
    font-size: inherit;
}

.ta-right {
    text-align: right;
}

sub,
sup {
    font-weight: normal;
    letter-spacing: -0.025em;
    opacity: 0.5;
}

sub {
    font-size: 0.7em;
    display: block;
}

sup {
    font-size: 0.7em;
}
.d-inline {
    display: inline;
}
.dblock {
    display: block;
}
.dflex {
    display: flex;
}
.dnone,
input[type="submit"].dnone {
    display: none;
}
.diblock-md {
    @media screen and (min-width: 480px) {
        display: inline-block;
    }
}
.dnone-sm {
    @media screen and (max-width: 479.98px) {
        display: none;
    }
}
.di {
    display: inline;
}
.diblock {
    display: inline-block;
}
.italic {
    font-style: italic;
}
.lh1em {
    line-height: 1em;
}
.h1em {
    height: 1em;
}
.wm6 {
    max-width: 6rem;
}
.fl {
    float: left;
}
.tcenter {
    text-align: center;
}
.flex-start {
    align-self: flex-start;
}
.flex-end {
    align-self: flex-end;
}

.shade {
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 25%);
}
.shade-light {
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 15%);
}
.cbadgefg {
    color: var(--badgefg);
}
.loader-dots:after {
    content: "";
    animation: loader-dots 2.5s linear infinite;
    margin-left: 0;
    width: 1rem;
    display: inline-block;
    text-align: left;
}
.loader-dots:before {
    content: " ";
    display: inline-block;
}

@keyframes loader-dots {
    0%,
    100% {
        content: ".";
    }
    25% {
        content: "..";
    }
    50% {
        content: "...";
    }
    75% {
        content: "..";
    }
}

/* for testing purposes */
.bgred {
    /* biome-ignore lint/complexity/noImportantStyles: <for testing> */
    background-color: red !important;
}
.bgblue {
    /* biome-ignore lint/complexity/noImportantStyles: <for testing> */
    background-color: blue !important;
}
.bglime {
    /* biome-ignore lint/complexity/noImportantStyles: <for testing> */
    background-color: lime !important;
}
