:root {
    --lightbg: hsl(42, 31%, 94%); /*#f4f1ea  */
    --lightbg-darker: hsl(42, 31%, 89%);
    --darkbg: hsl(204, 33%, 12%); /* #152129 */
    --darkbg-lighter: hsl(204, 33%, 17%);
    --smallfont: .9em;
    --smallerfont: .8em;
    --smallfontrem: .9rem;
    --smallerfontrem: .8rem;
}
:root {
    --bg: var(--lightbg);
    --bg-invert1: var(--lightbg-darker);
    --bgInvert: var(--darkbg);
    --shadeboxcolor: #000000;
    --shadetextcolor: #ffffff;
    --text-primary: #121212;
    --text-primary-dimmed: #333333;
    --primary: hsl(325, 55%, 46%);
    --primary-darker025: hsl(325, 55%, 44%);
    --primary-darker05: hsl(325, 55%, 42%);
    --primary-darker: hsl(325, 55%, 39%);
    --primary-darker2: #7e2559; /* hsl(325, 55%, 32%) */
    --link: hsl(325, 55%, 46%);
    --link-hover: hsl(325,55%,26%);

    --cardbg: #faf8f5; /* hsl 42 31% 97% */
    --draaideurbg: #efebe1; /*  hsl(42, 31%, 91%)  */

    --bgdark: #0a1014; /* hsl: 204 33% 6% */
    --accentbg: rgba(255, 255, 255, 0.4);

    --badgebg: #f1e0c6;
    --badgefg: #df8506;
    --disabled: hsla(325, 35%, 46%, 0.8);
    --darkbrown: #331611;
    --green: #0d8846;
    --lightgreen: #aff4c6;
    --lightred: #ffc7c2;
    --red: #ee0000;
    --red-dark: #d80000;
    --red-darker: #780000;
    --gray: #666;
    --hr: rgba(0, 0, 0, 0.1);
    --icon-faded-bg: #bbb;

    --icon-wishlist: url("/img/icon-wishlist.png");
    --icon-reading: url("/img/icon-reading.png");
    --icon-finished: url("/img/icon-finished.png");
    --icon-favourite: url("/img/icon-favourites.png");
    --icon-remove: url("/img/icon-remove.png");
    --icon-toss: url("/img/icon-toss.png");
    --icon-pencil: url("/img/icon-pencil.svg");
    --icon-eraser: url("/img/icon-eraser.svg");
    --icon-loep: url("/img/loep.svg");
    --icon-calendar: url("/img/icon-calendar.svg");

    --shade-around: 0 0 0.4rem rgba(0, 0, 0, 25%);
    --shade-around-subtle: 0 0 0.4rem rgba(0, 0, 0, 15%);
    --disabled-loading-descr-bg: #f2f1ec;
}

:root.dark-mode {
    --bg: var(--darkbg);
    --bg-invert1: var(--darkbg-lighter);
    --bgInvert: var(--lightbg);
    --shadeboxcolor: white;
    --shadetextcolor: black;
    --text-primary: #ededed;
    --text-primary-dimmed: #cccccc;
    --primary: #7e2559; /* hsl(325,55,32%) */
    --primary-darker025: hsl(325, 55%, 30%);
    --primary-darker05: hsl(325, 55%, 27%);
    --primary-darker: hsl(325, 55%, 25%);
    --primary-darker2: #471532; /* hsl(325,55,18%) */
    --link: hsl(325, 55%, 66%);
    --link-hover: hsl(325, 55%, 46%);
    --cardbg: hsl(204, 33%, 15%); /* #0f181f; /* hsl: 204 33% 9% */
    --draaideurbg: hsl(204, 33%, 9%);
    --badgebg: hsl(204, 33%, 15%);
    --accentbg: rgba(0, 0, 0, 0.4);
    --icon-wishlist: url("/img/icon-wishlist-white.png");
    --icon-reading: url("/img/icon-reading-white.png");
    --icon-finished: url("/img/icon-finished-white.png");
    --icon-favourite: url("/img/icon-favourites-white.png");
    --icon-remove: url("/img/icon-remove-white.png");
    --icon-toss: url("/img/icon-toss-white.png");
    --icon-pencil: url("/img/icon-pencil-white.svg");
    --icon-eraser: url("/img/icon-eraser-light.svg");
    --icon-calendar: url("/img/icon-calendar-white.svg");
    --icon-loep: url("/img/loep-wit.svg");

    --icon-faded-bg: #777;
    --shade-around: box-shadow 0 0 0.4rem rgba(255, 255, 255, 25%);
    --shade-around-subtle: box-shadow 0 0 0.4rem rgba(255, 255, 255, 15%);
    --disabled-loading-descr-bg: #575f65;
}
